<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Student</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f5f5f5;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
        }

        form {
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
            border-radius: 5px;
            padding: 20px;
            width: 300px;
        }

        div {
            margin-bottom: 15px;
        }

        label {
            display: block;
            margin-bottom: 5px;
        }

        input {
            padding: 8px;
            width: 100%;
            box-sizing: border-box;
        }

        button {
            background-color: #007bff;
            color: #fff;
            padding: 10px;
            border: none;
            border-radius: 3px;
            cursor: pointer;
            width: 100%;
        }
    </style>
  
</head>
<body>
    <script>
        function Submit() {
            // Get the form element
            var form = document.querySelector('form');

            // Create a new input element
            var extraInput = document.createElement("input");

            // Set the attributes for the new input
            extraInput.type = "text"; // You can change this to "hidden" or other types if needed
            extraInput.name = "facultyName"; // Change to the desired name
            extraInput.value = "<%=facultyName%>"; // Change to the desired value

            // Append the new input to the form
            form.appendChild(extraInput);

            // Submit the form
            form.submit();
        }
    </script>
    <form action="/student" method="POST">
        <div>
            <p>Faculty Name: <%= facultyName %></p>
            <label for="regnum">Register Number</label>
            <input type="text" id="regNumber" name="registerNumber" required>
        </div>
        <div>
            <label for="rollnum">Roll Number</label>
            <input type="text" id="rollNumber" name="rollNumber" required>
        </div>
        <div>
            <label for="studentName">Student Name</label> 
            <input type="text" id="studentName" name="studentName" required>
        </div>
        <button type="button" onclick="Submit()">Create New Student</button>
    </form>
</body>
</html>